<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Сотрудничество с Tulpar Electric</title>
    <link rel="stylesheet" type="text/css" href="/css/cooperation.css">
</head>
<body>
<!-- Header -->
<div class="header">
    <div class="logo">
        <img th:src="@{/images/logo.webp}" alt="Логотип">
    </div>
    <div class="location">
        г. Алматы
    </div>
    <div class="mainMenu">
        <a href="/" class="mainMenuLink">Главное Меню</a> <!-- ссылка на главный экран -->
    </div>
    <div class="connectionWays">
        <a href="tel:+77000888471" class="phoneLink">
            <span>+7 700 088 84 71</span>
        </a>
        <div class="whatsapp">
            <a href="https://wa.me/77000888471" target="_blank">
                <img th:src="@{/images/whatsappIcon.png}" alt="WhatsApp">
            </a>
        </div>
    </div>
</div>

<div class="cooperation-container">
    <h1>💡 Давайте сотрудничать!</h1>
    <p>Мы всегда открыты для новых партнёров и интересных проектов.</p>
    <p>Если у вас есть предложения, идеи или просто желание быть частью команды Tulpar Electric —</p>
    <h2>📱 Напишите нам в WhatsApp:</h2>
    <a href="tel:+77000888471" class="whatsapp-link">Позвонить: +7 707 363 0677</a>
    <p>Мы свяжемся с вами как можно скорее и обсудим все детали ☕</p>

    <div class="team-message">
        <p>⚡ Вместе мы сделаем этот мир светлее!</p>
    </div>
</div>
</body>
</html>
